@font-face {
  font-family: 'Katahdin Round';
  src: url('KatahdinRound.eot'); /* IE9 Compat Modes */
  src: url('KatahdinRound.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('KatahdinRound.woff') format('woff'), /* Modern Browsers */
       url('KatahdinRound.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('KatahdinRound.svg#1fd5ec53d7b17e8d57370e3c086a46da') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

